.subTitle {
  /* margin-top: 20px; */
  margin: 10px 0 5px 0;
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearSearch {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #1db964;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #000;
}
